@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  background-color: #e3e3e3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-section {
  width: 318px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #17181a;
  padding: 15px;
  border-radius: 30px;
}

.calculator-screen {
  width: 100%;
  padding: 20px 0px;
  margin: 40px 0px;
  color: #fff;
  text-align: right;
  font-size: 70px;
  background-color: #17181a;
  border: none;
}

.calculator-buttons {
  padding-left: 2px;
}

.calculator-button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 5px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.extra-width {
  width: 130px;
  border-radius: 35px;
}

.black {
  background-color: #505050;
  color: #fff;
}

.white {
  background-color: #d4d4d2;
  color: #000;
}

.orange {
  background-color: #ff9500;
  color: #fff;
}

.dev {
  font-size: 12px;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
}
